<footer class="site-footer h-card">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <a href="{{ '/' | relative_url }}">
          {%- octicon home -%}
          {{ site.title }}
          {%- if page.url != '/' %} / Edit
          {%- endif -%}
        </a>
      </div>
      <div class="footer-col">
        <a class="p-name" href="{{ site.author.website }}" rel="author">&copy; {{ site.author.name | escape }}</a>
      </div>
    </div>
  </div>

</footer>