<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="referrer" content="no-referrer">
  {%- seo -%}
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  {%- for link in page.links -%}
  <link rel="{{ link.rel }}" href="{{ link.url }}">
  {%- endfor -%}

  {%- for script in page.scripts -%}
  {%- if script.url -%}
  <script{% if script.defer %} defer{% endif %} src="{{ script.url }}" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  {%- elsif script.jsdelivr -%}
  <script{% if script.defer %} defer{% endif %} src="{{ script.jsdelivr | join: ',' | replace: '$COMMIT_HASH', site.github.build_revision | prepend: 'https://cdn.jsdelivr.net/combine/' }}" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  {%- endif -%}
  {%- endfor -%}

  {%- include custom-head.html -%}
  
</head>
