@use "sass:meta";
@use "sass:color";

// Define defaults for each variable.
$base-font-size: 1rem !default;
$base-font-weight: 400 !default;
$small-font-size: $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit: 30px !default;

$table-text-align: left !default;

// Width of the content area
$content-width: 1000px;

$on-palm: 600px !default;
$on-laptop: 800px !default;

// Personal
$base-font-family: KaTeX_Main, ui-serif, serif;
$code-font-family: ui-monospace, monospace;

$text-color: hsl(0, 5%, 10%);
$background-color: #fdfdfd;

$link-base-color: #a00;
$link-visited-color: $link-base-color;
$link-hover-color: $text-color;

$brand-color: #5c6f68;
$brand-color-light: color.adjust($brand-color, $lightness: 40%, $space: hsl);
$brand-color-dark: $text-color;

$grey-color: #828282;
$grey-color-light: color.adjust($grey-color, $lightness: 40%, $space: hsl);
$grey-color-dark: color.adjust($grey-color, $lightness: -25%, $space: hsl);

$border-color-01: $brand-color-light;
$border-color-02: color.adjust($brand-color, $lightness: 35%, $space: hsl);
$border-color-03: $brand-color;

$table-text-color: color.adjust($text-color, $lightness: 18%, $space: hsl);
$table-zebra-color: color.adjust($brand-color, $lightness: 46%, $space: hsl);
$table-header-bg-color: color.adjust($brand-color, $lightness: 43%, $space: hsl);
$table-header-border: color.adjust($brand-color, $lightness: 37%, $space: hsl);
$table-border-color: $border-color-01;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

/**
 * Reset some basic elements
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}



/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  &.home {
    height: 100vh;

    background: {
      image: url("data:image/svg+xml,%3Csvg viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23{$brand-color}' fill-opacity='0.1' d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/svg%3E");
      color: $background-color;
      size: 5px 5px;
    }
  }
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit * 0.5;
}



/**
 * `main` element
 */
main {
  display: flex;
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure>img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */
ul,
ol {
  margin-left: $spacing-unit;
}

li {

  >ul,
  >ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
  color: $link-base-color;
  text-decoration: none;

  &:visited {
    color: color.adjust($link-base-color, $lightness: -15%);
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}


/**
 * Blockquotes
 */
blockquote {
  color: $text-color;
  border-left: 4px solid $brand-color;
  padding-left: $spacing-unit * 0.5;
  @include relative-font-size(1.125);
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }

  >p:first-child {
    margin-top: 0;
  }
}



/**
 * Code formatting
 */
pre,
code {
  @include relative-font-size(0.9375);
  border: 1px solid $grey-color-light;
  border-radius: 3px;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  background-color: $text-color;
  color: $background-color;

  border: {
    color: $brand-color;
    width: 3px;
    style: solid;
  }

  overflow-x: auto;

  >code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}



/**
 * Wrapper
 */
.wrapper {
  max-width: $content-width - $spacing-unit * 2;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-wrap: break-word;
  @extend %clearfix;

  @include media-query($on-laptop) {
    width: $content-width - $spacing-unit;
    max-width: 100%;
    padding-right: $spacing-unit * 0.5;
    padding-left: $spacing-unit * 0.5;
  }

}



/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/**
 * Icons
 */

.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: #{$grey-color};
  padding-right: 5px;
  vertical-align: text-top;
}

.social-media-list {
  li+li {
    padding-top: 5px;
  }
}



/**
 * Tables
 */
table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: color.adjust($text-color, $lightness: 18%);
  border-collapse: collapse;
  border: 1px solid $grey-color-light;

  tr {
    &:nth-child(even) {
      background-color: color.adjust($grey-color-light, $lightness: 6%);
    }
  }

  th,
  td {
    padding: ($spacing-unit * 0.3333333333) ($spacing-unit * 0.5);
  }

  th {
    background-color: color.adjust($grey-color-light, $lightness: 3%);
    border: 1px solid color.adjust($grey-color-light, $lightness: -4%);
    border-bottom-color: color.adjust($grey-color-light, $lightness: -12%);
  }

  td {
    border: 1px solid $grey-color-light;
  }
}


/**
 * Site footer
 */
body.home .site-footer .wrapper {
  max-width: $content-width * 2 - $spacing-unit * 2;
}

.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
  display: flex;
  justify-content: center;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit * 0.5;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit * 0.5;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit * 0.5;
  padding-left: $spacing-unit * 0.5;
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: calc(100% - #{$spacing-unit * 0.5});
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
  min-height: 0;
  gap: $spacing-unit;
  justify-content: center;
}



/**
 * Custom styles
 */

body {
  border-top: 5px solid $link-base-color;
}

.hidden {
  display: none !important;
}

.flex {
  display: flex;
  align-items: right;
  justify-content: space-between;
}

.btns {
  display: inline-block;
}

.btn {
  color: $background-color;
  font-weight: bold;
  text-align: center;
  border: 1px solid $grey-color-dark;
  background-color: $grey-color-dark;
  border-radius: 0.25rem;
  font-size: 1rem;
  padding: .375rem .75rem;
  user-select: none;
  white-space: nowrap;

  &[type="submit"] {
    background-color: $link-base-color;
    border-color: $link-base-color;
  }

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }

  &:hover {
    border-color: $link-hover-color;
    background-color: $link-hover-color;
  }

  >svg {
    vertical-align: text-top;
    display: inline-block;
    fill: currentColor;
  }
}

#markdown {
  flex: 1;
  font-family: $code-font-family;
  width: 100%;
  padding: 0.8em;
  line-height: normal;
  resize: none;
  outline: none;
  overflow: auto;
  min-height: 339px;

  margin: {
    top: 0;
    bottom: 1rem;
  }

  border: {
    radius: $spacing-unit * 0.1;
    style: none;
  }

  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  background: $background-color;
}

#preview {
  display: none;

  @media screen and (min-width: 1200px) {
    padding-top: $spacing-unit * 0.5;
    margin-top: -$spacing-unit * 0.5;
    border-radius: $spacing-unit * 0.1;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
    display: block;
    flex: 1;
    box-sizing: border-box;
    overflow-y: auto;
    background: $background-color;
  }
}

svg.octicon {
  height: 0.683em;
  display: inline-block;
  fill: currentColor;
  margin-right: 0.2em;
}

@media screen and (min-width: $on-palm) {
  :root {
    font-size: 125%;
  }

  .footer-col:last-child {
    float: right;
    padding-left: 0;
    padding-right: $spacing-unit * 0.5;
  }

}

/*
 * KaTeX Overrides
*/
/* scrollbar for big equations */
:root .katex-display {
  overflow: auto hidden;
  scrollbar-width: thin;
  padding-bottom: 8px;
  margin-bottom: calc(1em - 8px);
}

/* smaller inline math */
:not(.katex-display)>.katex {
  font-size: 1em;
}

/* bugfix for chrome scrollbar */
#preview .katex .katex-mathml {
  display: none;
}

@include meta.load-css("latex.scss");