body {
    border-top: 5px solid $link-base-color;
}

.hidden {
    display: none !important;
}

.flex {
    display: flex;
    align-items: right;
    justify-content: space-between;
}

.btns {
    display: inline-block;
}

.btn {
    color: $background-color;
    font-weight: bold;
    text-align: center;
	border: 1px solid $link-base-color;
    background-color: $link-base-color;
	border-radius: 0.25rem;
    font-size: 1rem;
	padding: .375rem .75rem;
	user-select: none;
	white-space: nowrap;

	&:hover {
        border-color: $link-hover-color;
		background-color: $link-hover-color;
    }
	> svg {
		vertical-align: text-top;
		display: inline-block;
        fill: currentColor;
    }
}

#markdown {
    font-family: $code-font-family;
    width: 100%;
    padding: 5px;
    line-height: normal;
    resize: vertical;
    outline: none;
    overflow: auto;
    height: 339px;
    margin-top: 16px;
    margin-bottom: 16px;
    border: 1px solid $border-color-01;
    border-radius: 6px;
}

svg.octicon {
    height: 0.683em;
    display: inline-block;
    fill: currentColor;
    margin-right: 0.2em;
}

@media screen and (min-width: $on-palm) {
    .footer-col:last-child {
        text-align: right;
    }
}
