.hidden {
    display: none !important;
}

.flex {
    display: flex;
    align-items: right;
    justify-content: space-between;
}

.btns {
    display: inline-block;
}

.btn {
    color: $link-base-color;
	border: 1px solid currentColor;
	border-radius: 8%;
	padding: 2px 8px !important;
	user-select: none;
	white-space: nowrap;

	&:hover {
		color: $link-hover-color;
    }
	> svg {
		vertical-align: text-top;
		display: inline-block;
        fill: currentColor;
    }
}

#markdown {
    font-family: $code-font-family;
    width: 100%;
    padding: 5px;
    line-height: normal;
    resize: vertical;
    outline: none;
    overflow: auto;
    height: 339px;
    margin-top: 16px;
    margin-bottom: 16px;
    border: 1px solid $border-color-01;
    border-radius: 6px;
}
