.flex {
    display: flex;
    align-items: right;
    justify-content: space-between;
}

.btn {
	border: 1px solid currentColor;
	border-radius: 5%;
	padding: 4px 8px !important;
	user-select: none;
	white-space: nowrap;

	&:hover {
		color: $brand-color-dark;
		background-color: $brand-color;
    }
	> svg {
		vertical-align: text-top;
		display: inline-block;
        fill: currentColor;
    }
}

#markdown {
    width: 100%;
    padding: 5px;
    line-height: normal;
    resize: vertical;
    outline: none;
    overflow: auto;
    height: 339px;
    margin-top: 16px;
    margin-bottom: 16px;
    border: 1px solid $border-color-01;
    border-radius: 6px;
}
