// Placeholder to allow overriding predefined variables smoothly.
// From LaTeX.css
$base-font-family:      Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol ;
$link-base-color:       #a00;
$link-visited-color:    $link-base-color;
$text-color:            hsl(0, 5%, 10%);

// Personal
$brand-color:           #746D75;
$brand-color-light:     lighten($brand-color, 40%);
$brand-color-dark:      #000;

$border-color-01:       $brand-color-light;
$border-color-02:       lighten($brand-color, 35%);
$border-color-03:       $brand-color;

$site-title-color:      $brand-color-dark;

$table-text-color:      lighten($text-color, 18%);
$table-zebra-color:     lighten($brand-color, 46%);
$table-header-bg-color: lighten($brand-color, 43%);
$table-header-border:   lighten($brand-color, 37%);
$table-border-color:    $border-color-01;