<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <main class="page-content" aria-label="Content">
      <div class="wrapper" id="content">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    {%- for script in page.scripts -%}
    {%- if script.url -%}
    <script{% if script.async %} async{% endif %} src="{{ script.url }}" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {%- elsif script.jsdelivr -%}
    <script{% if script.async %} async{% endif %} src="{{ script.jsdelivr | join: ',' | replace: '$COMMIT_HASH', site.github.build_revision | prepend: 'https://cdn.jsdelivr.net/combine/' }}" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {%- endif -%}
    {%- endfor -%}

  </body>

</html>